.content {
    margin-top: 50px;
}

#furniture {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 22%;
    transition: calc(0.6s);
    position: relative;
    padding: 40px;
    margin-top: 50px;
}

.card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.card-body {
    padding: 12px;
    text-align: center;
}

.old-price {
    text-decoration: line-through;
    opacity: 0.6;
    font-size: 20px;
    font-weight: bold;
}

.new-price {
    margin-top: 10px;
    color: red;
    font-size: 24px;
    font-weight: bold;
}

/* .btn-addCard {
    visibility: hidden;
    position: absolute;
    top: 30%;
    left: 25%;
    padding: 8px 20px;
    color: #fff;
    border: 3px solid #ccc;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.296);
}

.btn-addCard:hover {
    color: #fff;
    background-color: rgba(62, 148, 13, 0.738);
} */

.card:hover .btn-addCard {
    visibility: visible;
}

.btn-addCard {
    background-color: rgba(0, 0, 0, 0.115);
    visibility: hidden;
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60%;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: none;
}

.btn-addCard span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.btn-addCard:hover span {
    letter-spacing: 3px;
}

.btn-addCard a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}

.btn-addCard:hover span::before {
    transform: skewX(45deg) translate(200px);
}

.btn-addCard::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.btn-addCard:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

.btn-addCard::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0.5;
}

.btn-addCard:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
}

.btn-addCard::before,
/* 3*/
.btn-addCard::after {
    background: #1eff45;
    box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
        0 0 60px #1eff45;
}